body {
  font-family: helvetica, sans-serif;
  text-align: center;
}
h1,
ul,
#topnav,
#nyc {
  color: white;
}
h1,
#process,
.small,
#nyc {
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
#topnav {
  font-size: 18px;
  color: white !important;
}
#topnav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: block;
  list-style-type: none;
}
#topnav li {
  padding: 10px 0px 10px 0px;
}
#process {
  font-size: 32px;
}
.small {
  font-size: 23px;
}
p {
  font-size: 14px;
}
.header {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#nyc {
  font-size: 23px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#bottomnav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  text-align: left;
  list-style-type: none;
  align-items: flex-end;
}
#bottomnav li {
  padding: 0px 1px 0px 1px;
}
#bottomnav {
  background-color: dimgray;
  color: white !important;
}
#logo {
  font-size: 11px;
}
